<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {% load static %}
</head>
<body style='
    background-image: url("{% static 'buy.jpg' %}")
'>
<form method="post">
    {% csrf_token %}
    <select name="stations-from[]" style="
    position: static;
    margin-left: 995px;
    margin-top: 348px;
    ">
        {% for s in stations %}
        <option value="{{s.0}}">{{s.1}}</option>
        {% endfor %}
    </select>
    <select name="stations-to[]" style="
    position: static;
    margin-left: 995px;
    margin-top: 220px;
    ">
        {% for s in stations %}
        <option value="{{s.0}}">{{s.1}}</option>
        {% endfor %}
    </select>
    <button type="submit" name="submit" value="buy-ticket">Купить</button>
</form>

</body>
</html>