{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="buy-form-container">
    <div class="buy-form">
        <form method="post">
            {% csrf_token %}
            Станция отправления:
            <select name="stations-from[]">
                {% for s in stations %}
                <option value="{{s.0}}">{{s.1}}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            Станция назначения:
            <select name="stations-to[]">
                {% for s in stations %}
                <option value="{{s.0}}">{{s.1}}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <button type="submit" name="submit" value="buy-ticket">Купить</button>
        </form>
    </div>
</div>
{% endblock %}
