{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="buy-form-container">
    <div class="buy-form">
        <form method="post" >
            {% csrf_token %}
            Выберите станцию информацию о которой вы хотите видеть информацию:
            <br>
            <br>
            <select name="stations[]">
                {% for s in stations %}
                <option value="{{s.0}}">{{s.1}}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <button type="submit" name="submit" value="show-info">Выбрать</button>
            <br>
            <br>
        </form>
        <form action="{% url "buy-ticket" %}" method="get">
            <button type="submit">Купить билет</a>
        </form>
    </div>
</div>

{% endblock %}
