<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {% load static %}
</head>
<body>

<form method="post">
    {% csrf_token %}
    Выберите станцию информацию о которой вы хотите видеть информацию:
    <select name="stations[]">
        {% for s in stations %}
        <option value="{{s.0}}">{{s.1}}</option>
        {% endfor %}
    </select>
    <button type="submit" name="submit" value="show-info">Ок</button>
</form>

<a href="buy-ticket">Купить билет</a>

</body>
</html>