{% extends 'base.html' %}

{% block content %}
{% load static %}



<div class="info-main-block">
    <table>
        <tr>
            <td>Станция</td>
            <td>{{st.name}}</td>
        </tr>
        <tr>
            <td>Количество человек</td>
            <td><text id="people"></text>ч.</td>
        </tr>
        <tr>
            <td>ID Рециркулятора</td>
            <td><text id="r1-pk"></text></td>
        </tr>
        <tr>
            <td>Мощность</td>
            <td><text id="r1-power"></text>%</td>
        </tr>

    </table>
</div>



{% block jss %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    function get(){
        $.ajax({
            data: $(this).serialize(),
            url: "/data-sender/{{st.pk}}",
            success: function(response) {
                var data = response.data;

                var people = data['people'];
                document.getElementById('people').innerText = people;

                var recirculers = data['recirculers'];
                var r1 = recirculers[0];
                var r2 = recirculers[1];
                var r3 = recirculers[2];
                var r4 = recirculers[3];
                var r5 = recirculers[4];

                document.getElementById('r1-pk').innerText = r1['id'];
                document.getElementById('r1-power').innerText = r1['power'];

            },
            error: function(response) {
                console.log(response.responseJSON.errors)
            }
        });
        return false;
    };
    setInterval(get, 1000);
</script>
{% endblock jss %}

{% endblock content %}