
html {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
}

.buy-form-container {
    font-size: 2.5vw;
    display: flex;
    height: 30vw;
    width: 80vw;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 1vw;
    background-color: rgb(130, 159, 255);
    box-shadow: 0px 0px 30px black;

    justify-content: center;
    align-items: center;
}

.buy-form {
    font-size: 2.5vw;
    margin: 0;

    justify-content: center;
    align-items: center;
    margin: 10%;
    text-align: center;
}

select {
    font-size: 2.5vw;
    border-radius: 1vw;
    border: 0px solid black;
    background-color: rgb(130, 159, 255);
    margin: auto;  
    transition: 0.3s;
    text-align: center;
}

select:hover {
    cursor: pointer;
    color: rgb(230, 230, 230);
    transition: 0.3s;
    box-shadow: 0px 0px 30px black;
    background-color: rgb(70, 110, 238);
}

button {
    font-size: 2.5vw;
    border: none;
    margin: 0 40%;
    transition: 0.3s;
    background-color: rgb(130, 159, 255);
    border-radius: 1vw;
    width: 20vw;
}

button:hover {
    cursor: pointer;
    color: rgb(230, 230, 230);
    transition: 0.3s;
    box-shadow: 0px 0px 30px black;
    background-color: rgb(70, 110, 238);
}

a {
    margin: 0;
    font-size: 2.5vw;
    border: none;
    transition: 0.3s;
    border-radius: 1vw;
    text-decoration: none;
    color: black;
    border-radius: 1vw;
}

a:hover {
    cursor: pointer;
    color: rgb(230, 230, 230);
    transition: 0.3s;
    text-shadow: 0px 0px 30px black;
}


.info-main-block {
    font-size: 2.5vw;
    display: flex;
    height: 30vw;
    width: 80vw;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 1vw;
    background-color: rgb(130, 159, 255);
    box-shadow: 0px 0px 30px black;

    text-align: left;

    justify-content: center;
    align-items: center;
}

table {
    width: 90%;
    font-size: 2.5vw;
    border: none;
    transition: 0.3s;
    background-color: rgb(130, 159, 255);
    transition: 0.3s;
}

table:hover {
    transition: 0.3s;
    box-shadow: 0px 0px 30px black;
    background-color: rgb(70, 110, 238);
}

td {
    border: 3px solid black;
}
